<div class="container">
    <div class="row" style="padding: 30px;">
        <div class="col">
            <label for="tx1">Your name*</label>
            <input class="form-control" id="tx1" type="text">
            <label for="tx1">First Name</label>
        </div>
        <div class="col">
            <label for="tx2"></label>
            <input class="form-control" id="tx2" type="text">
            <label for="tx2">Last Name</label>
        </div>
    </div>

    <div class="row" style="padding: 0px 30px 30px 30px;">
        <div class="col">
            <label for="tx3">Email*</label>
            <input class="form-control" id="tx3" type="text">        
        </div>
    </div>

</div>