<div class="container">
    <div class="row" style="padding: 0px 30px 30px 30px;">
        <div class="col">
            <label>Date and time you first noticed this bug*</label>
            <input class="form-control" type="datetime-local">
        </div>
    </div>
    <div class="row" style="padding: 0px 30px 30px 30px;">
        <div class="col">
            <label>Impact</label>
            <select class="form-select" aria-label="Default select example">
                <option selected value="Low">Low</option>
                <option value="Medium">Medium</option>
                <option value="High">High</option>
            </select>
        </div>
    </div>
    <div class="row" style="padding: 0px 30px 30px 30px;">
        <div class="col">
            <label>Detailed explanation of bug*</label>
            <textarea class="form-control" id="details" rows="5"></textarea>
        </div>
    </div>
</div>